/.github
/.vscode
/code_examples
/logs
/mongodb_volume
/old_code
/parsing_file_examples
/postgresql_volume
/proc_macro_libs/target
/proc_macro_libs/Cargo.lock
/proc_macro_libs/*/target
/proc_macro_libs/*/Cargo.lock
/target
/vscode
/todos
.gitignore
docker-compose.yml
README.md