[submodule "proc_macros/impl_error_with_tracing_for_struct_with_method"]
	path = proc_macros/impl_error_with_tracing_for_struct_with_method
	url = git@github.com:kuqmua/impl_error_with_tracing_for_struct_with_method.git
[submodule "proc_macros/impl_error_with_tracing_for_struct_without_method"]
	path = proc_macros/impl_error_with_tracing_for_struct_without_method
	url = git@github.com:kuqmua/impl_error_with_tracing_for_struct_without_method.git
